
{% extends 'base.html' %}
{% load static %}

{%block title %}
My resume 
{%endblock%}
 
{% block body %}

ALEX NJUGUNA MIRII
0703127233
njugunaalekii99@gmail.com
P.O.BOX 369, THIKA.
1200-01000
PERSONAL DETAILS 
Date of Birth: 15 january 2002
Gender: Male
Marital Status: single 

Languages Known: English, Swahili
Hobbies: Reading Books, Coding
Religion: christian

EXPERIENCE
Software Development Industrial Attachment
Present
Designed and deployed websites for small businesses using HTML, CSS, and JavaScript.
Provided ongoing maintenance and support for clients.
Built customized solutions for local businesses.

EDUCATION
From 2022
Meru University of Science and Technology, Meru — Bachelor of Science in Computer Science
Present
Relevant Coursework: Data Structures, Algorithms, Software Engineering, Database Systems, Machine Learning, Web Development
2017-2021
Kirirwa secondary school -earned  kenya certificate of secondary education (kcse) 
2016
Mutheru primary school-attained a certificate on kenya  certificate of primary education (kcpe)

PROJECTS
Room Booking Application
Flutter-based app for real-time room bookings.
Vehicle Tracking and Diagnostic App
Combines AI and geolocation for vehicle monitoring.
Alexander Transducer Project
Energy-harvesting innovation using sound and vibrations.

SKILLS
Programming Languages: Python, Java, Dart (Flutter), C#
Frameworks: Django, Next.js, Flutter
Database Management: Firebase, SQL
Tools: GitHub, Visual Studio, Android Studio

AWARDS
Recognition for innovative contribution to Meru University Innovators Club
Participant in School Hacknight, developed Firebase integration in mobile development

LANGUAGES
I am fluent in the following languages 
English
Swahili



  {%endblock%}